.list-container{
	width: 90%;
	margin: auto;
	margin-top: 3rem;
}

.MuiPaper-root {
	margin-bottom: 2rem;
	border-radius: 5px;
}

.link-menu {
	display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    margin: 2rem 0;
}